# Linear Regression - medical insurance

In [37]:
import pandas as pd
import numpy as np

from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split

from sklearn.metrics import mean_squared_error,mean_absolute_error, r2_score

import matplotlib.pyplot as plt
import seaborn as sns

In [38]:
df = pd.read_csv('medical_insurance.csv')
df.head()

   age     sex     bmi  children smoker     region      charges
0   19  female  27.900         0    yes  southwest  16884.92400
1   18    male  33.770         1     no  southeast   1725.55230
2   28    male  33.000         3     no  southeast   4449.46200
3   33    male  22.705         0     no  northwest  21984.47061
4   32    male  28.880         0     no  northwest   3866.85520

In [39]:
df.isna().sum()

age         0
sex         0
bmi         0
children    0
smoker      0
region      0
charges     0
dtype: int64

In [40]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   age       1338 non-null   int64
 1   sex       1338 non-null   object
 2   bmi       1338 non-null   float64
 3   children  1338 non-null   int64
 4   smoker    1338 non-null   object
 5   region    1338 non-null   object
 6   charges   1338 non-null   float64
dtypes: float64(2), int64(2), object(3)
memory usage: 73.3+ KB

In [41]:
df['sex']

0       female
1         male
2         male
3         male
4         male
         ...
1333      male
1334    female
1335    female
1336    female
1337    female
Name: sex, Length: 1338, dtype: object

In [42]:
df['sex'].replace({'female':0,'male':1},inplace = True)

In [43]:
df['smoker'].value_counts()

no     1064
yes     274
Name: smoker, dtype: int64

In [44]:
df['smoker'].replace({'no':1,'yes':0},inplace = True)

In [45]:
df['region'].value_counts().to_dict()

{'southeast': 364, 'southwest': 325, 'northwest': 325, 'northeast': 324}

In [46]:
df = pd.get_dummies(df ,columns=['region'])
df

,age,sex,bmi,children,smoker,charges,region_northeast,region_northwest,region_southeast,region_southwest
0,19,0,27.900,0,0,16884.92400,0,0,0,1
1,18,1,33.770,1,1,1725.55230,0,0,1,0
2,28,1,33.000,3,1,4449.46200,0,0,1,0
3,33,1,22.705,0,1,21984.47061,0,1,0,0
4,32,1,28.880,0,1,3866.85520,0,1,0,0
...,...,...,...,...,...,...,...,...,...,...
1333,50,1,30.970,3,1,10600.54830,0,1,0,0
1334,18,0,31.920,0,1,2205.98080,1,0,0,0
1335,18,0,36.850,0,1,1629.83350,0,0,1,0
1336,21,0,25.800,0,1,2007.94500,0,0,0,1
1337,61,0,29.070,0,0,29141.36030,0,1,0,0

In [47]:
df['children'].value_counts()

0    574
1    324
2    240
3    157
4     25
5     18
Name: children, dtype: int64

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1338 entries, 0 to 1337
Data columns (total 10 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   age               1338 non-null   int64
 1   sex               1338 non-null   int64
 2   bmi               1338 non-null   float64
 3   children          1338 non-null   int64
 4   smoker            1338 non-null   int64
 5   charges           1338 non-null   float64
 6   region_northeast  1338 non-null   uint8
 7   region_northwest  1338 non-null   uint8
 8   region_southeast  1338 non-null   uint8
 9   region_southwest  1338 non-null   uint8
dtypes: float64(2), int64(4), uint8(4)
memory usage: 68.1 KB

## Train Test split

In [49]:
df = df.select_dtypes(exclude=object) 
x = df.drop('charges',axis = 1)
y = df['charges']
x_train, x_test, y_train, y_test = train_test_split(x,y,test_size=0.2,random_state=34)

In [50]:
x_train

,age,sex,bmi,children,smoker,region_northeast,region_northwest,region_southeast,region_southwest
414,19,0,35.150,0,1,0,1,0,0
1279,25,0,26.790,2,1,0,1,0,0
647,40,0,23.370,3,1,1,0,0,0
764,45,0,25.175,2,1,1,0,0,0
1133,52,0,18.335,0,1,0,1,0,0
...,...,...,...,...,...,...,...,...,...
453,20,1,29.735,0,1,0,1,0,0
324,29,1,27.200,0,1,0,0,0,1
1109,45,1,20.350,3,1,0,0,1,0
490,19,0,32.900,0,1,0,0,0,1
1146,60,1,32.800,0,0,0,0,0,1

# Model Training

In [51]:
model = LinearRegression()
model.fit(x_train, y_train)

LinearRegression()

In [52]:
# Testing Data Evaluation
y_pred = model.predict(x_test)

mse = mean_squared_error(y_test, y_pred)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_test, y_pred)
print("MAE :",mae)

r2 = r2_score(y_test, y_pred)
print('R-Squared :',r2)

MSE : 41587655.82548301
RMSE : 6448.849186132593
MAE : 4420.543383291356
R-Squared : 0.7442111491697808

In [53]:
# Training Data Evaluation

y_pred_train = model.predict(x_train)
mse = mean_squared_error(y_train, y_pred_train)
print("MSE :",mse)

rmse = np.sqrt(mse)
print("RMSE :",rmse)

mae = mean_absolute_error(y_train, y_pred_train)
print("MAE :",mae)

r2 = r2_score(y_train, y_pred_train)
print('R-Squared :',r2)

MSE : 35291933.482411794
RMSE : 5940.701430168982
MAE : 4101.112694905446
R-Squared : 0.7519747760752101

# Testing on Single Row

In [54]:
x.head(1).T

                     0
age               19.0
sex                0.0
bmi               27.9
children           0.0
smoker             0.0
region_northeast   0.0
region_northwest   0.0
region_southeast   0.0
region_southwest   1.0

In [55]:
age  = 19
sex  = 'male'
bmi  = 25 
children = 2
smoker = 'yes'
region = 'southwest'

#charges = ?

In [56]:
column_names = x.columns
column_names

Index(['age', 'sex', 'bmi', 'children', 'smoker', 'region_northeast',
       'region_northwest', 'region_southeast', 'region_southwest'],
      dtype='object')

In [57]:
test_array = np.zeros(len(x.columns))
test_array

array([0., 0., 0., 0., 0., 0., 0., 0., 0.])

In [58]:
test_array[0] = age
test_array[1] = label_encoded_data["sex"][sex]
test_array[2] = bmi
test_array[3] = children
test_array[4] = label_encoded_data["smoker"][smoker]
#test_array[0] = region

In [59]:
l= [2,3,4,5]
l[0] ="bharat"

In [60]:
l

['bharat', 3, 4, 5]

In [61]:
label_encoded_data = {"sex": {'female':0,'male':1},
                      "smoker":{'no':1,'yes':0}
                      }

label_encoded_data["smoker"][smoker]

label_encoded_data["sex"][sex]

1

In [62]:
label_encoded_data

{'sex': {'female': 0, 'male': 1}, 'smoker': {'no': 1, 'yes': 0}}

In [63]:
region = "region_" + region
region

'region_southwest'

In [64]:
region_index = np.where(column_names == region)[0][0]
region_index

8

In [65]:
test_array[region_index] = 1

In [66]:
test_array

array([19.,  1., 25.,  2.,  0.,  0.,  0.,  0.,  1.])

In [67]:
np.around(model.predict([test_array])[0],2)

24794.69

In [68]:
#create Model File

import pickle

with open("Linear_model.pkl","wb") as f:
    pickle.dump(model,f)

In [69]:
project_data = {"sex": {'female':0,'male':1},
                      "smoker":{'no':1,'yes':0},
                      'columns' : list(x.columns)
                      }

In [70]:
import json
with open("project_data.json","w") as f:
    json.dump(project_data,f)